:root {
    --accent-color: #9a89fa;
    --dark-shades: #7a8499;
    --light-accent: #eaecf6;

}

body {
    background-color: var(--accent-color);
}

.main {
    background-color: var(--light-accent);
    padding: 2rem;
    border-radius: 3rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 1.5rem;
    text-align: left;
}

.section {
    color: var(--dark-shades);
    padding: 0.25rem 0.5rem;
    border-radius: 15px;
    background: #eaecf6;
    box-shadow:  12px 12px 24px #c7c9d1,
    -12px -12px 24px #ffffff;
}

.name-section {
    justify-self: left;
    padding: 0.25rem 0.75rem;
}
