:root {
    --accent-color: #9a89fa;
    --dark-shades: #7a8499;
    --light-accent: #eaecf6;

}

body {
    background-color: var(--light-accent);
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

main {
    margin-top: 2rem;
}

.info-section {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    gap: 1.5rem;
    text-align: left;
}

.section {
    color: var(--dark-shades);
    padding: 0.25rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    background: #eaecf6;
    box-shadow:  10px 10px 20px #c7c9d1,
    -10px -10px 20px #ffffff;
}

.section-inward {
    color: var(--dark-shades);
    padding: 1.25rem 1rem;
    text-decoration: none;
    border-radius: 20px;
    background: #eaecf6;
    box-shadow: inset 10px 10px 20px #c7c9d1,
    inset -10px -10px 20px #ffffff;
}

.label {
    color: var(--dark-shades);
    text-decoration: none;
}

.top-section {
    display: flex;
    gap: 1.5rem;
}

.side-button {
    display: block;
    font-size: 1.75rem;
}

.side-button-active {
    background: #eaecf6;
    box-shadow: inset 10px 10px 20px #c7c9d1,
    inset -10px -10px 20px #ffffff;
}

.side-list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 0 0 20px 20px;
    max-height: 270px;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.side-label {
    font-size: 1.75rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.side-menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 300px;
}

.search-bar {
    padding-left: 1rem;
    border-radius: 20px;
    border: none;
    background: #eaecf6;
    box-shadow: inset 10px 10px 20px #c7c9d1,
    inset -10px -10px 20px #ffffff;
}

.input-bar {
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 1rem;
    background-color: #eaecf6;
    box-shadow: inset 10px 10px 20px #c7c9d1,
    inset -10px -10px 20px #ffffff;
    transition: 300ms ease-in-out;
}

.input-bar:focus {
    color: var(--dark-shades);
    transform: scale(1.02);
    box-shadow:  10px 10px 20px #c7c9d1,
    -10px -10px 20px #ffffff;
}

.search-button {
    border: none;
    outline: none;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    background-color: #eaecf6;
    box-shadow:  10px 10px 20px #c7c9d1,
    -10px -10px 20px #ffffff;
    transition: 300ms ease-in-out;
}

.search-button:focus {
    transform: scale(1.05);
    box-shadow: inset 10px 10px 20px #c7c9d1,
    inset -10px -10px 20px #ffffff;
}

.link {
    color: var(--dark-shades);
}
